<section class="top">
	<% if user_signed_in?%>
	Signed in as: <%= current_user.email%>
	<%= link_to "Sign_out", destroy_user_session_path, :method => :delete%>
	<%else%>
	<div class="login">
		<h1>Login to Web App</h1>
		<div class="text-login">
		<%= link_to "Sign_up", new_user_registration_path%>
		<%= link_to "Sign_in", new_user_session_path%>
		<%end%>
		</div>
	</div>
</section>
