<div class="panel panel-primary">
	<div class="panel-heading">
		commented by: <strong><%= comment.commenter %></strong>
	</div>
<div class="panel-body ">
<p>
	<%= comment.body %>
</p>
</div class = "panel-footer">
	<%= link_to 'Destroy Comment', [comment.post, comment],method: :delete,data: { confirm: 'Are you sure?' } %>
</div>

