<script>
	$(document).ready(function() {
$('a img').click(function() {
$('#body-image img').attr('src', $(this).attr('src'));
})
	}
	);

</script>

<h1>Listing posts</h1>
<div class="dropdown">
	<a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html"> Dropdown <span class="caret"></span> </a>

	<ul class="dropdown-menu">
		<li>
			<%= link_to 'ordenar', posts_orderby_path, method: :orderby %>
		</li>
		<li class="divider"></li>
	</ul>
</div>

<div id="render">
<%= render "listposts" %>
</div>